.user_profile {}

.user-profile_inner {
	display: flex;
	align-items: center;
	gap: 5px;
}

.user_name {
	margin-top: 10px;
	color: #6e6b6b;
}

.user-profile_photo {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.user-profile_photo img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}