@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #faf9f7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
}
